<tr>
    <td>{{film.title}}</td>
    <td>{{film.genre.name}}</td>
    <td><img [src]="imagePath"></td>
    <td *ngIf="showReviews">
        <div class="reviewPadding">
            <star-rating-comp 
                [labelText]="'Average Rating: ' + film.averageRating"
                [starType]="'svg'" 
                [numOfStars]="5"
                [showHalfStars]="true"
                [rating]="film.averageRating">
            </star-rating-comp>
        </div>
        <div class="reviewPadding" *ngFor="let r of film.reviews">
            <review [review]="r"></review>
        </div>
    </td>
    <td *ngIf="!showReviews">
        <button class="btn" *ngIf="!isReviewEditMode" (click)="addNewReview(film.title)">Add review for this movie</button>
        <button class="btn" *ngIf="isReviewEditMode" (click)="saveReview()">Save review</button>
        <br>
        <div *ngIf="isReviewEditMode">
            <div>
                <star-rating-comp 
                    [labelText]="reviewToAdd.rating"
                    [showHalfStars]="true"
                    [starType]="'svg'"
                    [hoverEnabled]="true"
                    [numOfStars]="5"
                    [getHalfStarVisible]="reviewToAdd.rating"
                    (onRatingChange)="ratingChange($event)">
                </star-rating-comp>
                <label class="reviewPadding">Reviewer Name</label>
                <input type="text" [(ngModel)]="reviewToAdd.reviewerName">
            </div>
            <div>
                <label class="reviewPadding">Review Comments</label>
                <textarea class="reviewTextarea" [(ngModel)]="reviewToAdd.review"></textarea>
            </div>
        </div>
    </td>
</tr>