<div class="container">
    <h1>
        Welcome to the movie reviews website!
    </h1>
    <h2>
        Here you can view a list of movies and their reviews, add a movie, or add a review to an existing movie.
    </h2>
    <div>
        Coming features include:
        <ul>
            <li><del>Having the review pages load on first click</del></li>
            <li><del>Better review input display</del></li>
            <li><del>Limits on review scores to be 0-4 incremented by .5 </del>Ended up doing 0-5 no halves, still working on halves</li>
            <li><del>Use observables to put film/review load back into a service</del></li>
            <li><del>Pre-load data in service before page loads</del></li>
            <li><del>Sorting review pages by column headers</del></li>
            <li><del>A better looking reviews display with average score</del></li>
            <li>An improved image storage and loading mechanism</li>
            <li>Prevention of adding a movie twice</li>
            <li>Unit tests</li>
        </ul>
    </div>
</div>