<div class="container">
    <h1>
        Welcome to the movie reviews website!
    </h1>
    <h2>
        Here you can view a list of movies and their reviews, add a movie, or add a review to an existing movie.
    </h2>
    <div>
        Coming features include:
        <ul>
            <li><del>Having the review pages load on first click</del></li>
            <li>Better review input display</li>
            <li>Limits on review scores to be 0-4 incremented by .5</li>
            <li>Use observables to put film/review load back into a service</li>
            <li>Sorting review pages by column headers</li>
            <li>A better looking reviews display with average score</li>
            <li>An improved image storage and loading mechanism</li>
            <li>Prevention of adding a movie twice</li>
            <li>Unit tests</li>
        </ul>
    </div>
</div>